<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Join Brothers Consultancy. | Upload</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini layout-fixed">

        <nav class="navbar navbar-expand-sm bg-light">
            <a class="navbar-brand" href="/dashboard">Join Brothers Consultancy.</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload File</a>
                </li>
                <li>
                    <a class="nav-link" href="/testing">Testing</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
		
		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
				<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Upload File</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

				<!-- Modal body -->
					<div class="modal-body">
						Please select valid Excel File *
					</div>

				<!-- Modal footer -->
					<div class="modal-footer">
						<form method="POST" action="/file/upload" enctype="multipart/form-data">
							<input type="file" name="filetoupload" />
							<button type="submit" class="btn btn-success">Upload</button>
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="container">
	
		<div class="row">
			<div class="col-lg-6">
				<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Uploaded Images</h1>
			</div>
			<div class="col-lg-6" style="text-align: center;">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style=" margin: 0; position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
					Upload File
				</button>
			</div>
		</div>
		</br>

		<% if(hasError) {%>
            <div class="alert alert-danger text-center mx-auto" style="max-width: 50% !important;">
                <h6 style="display : inline-block;"><%= message %></h6>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        <% } %>

        <% if(hasSuccess) {%>
            <div class="alert alert-success text-center mx-auto" style="max-width: 50% !important;">
                <h6 style="display : inline-block;"><%= message %></h6>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        <% } %>

		<hr class="mt-2 mb-5">

		<div class="row text-center text-lg-left">

			
			<% _.forEach(files, function(file, index){ %>
                <div class="col-lg-3 col-md-4 col-6 text-center py-2" style="border: 1px solid black; border-radius: 1em;">
					<h6>File # <%= (index + 1) %></h6> 
					<a href="#" class="d-block mb-2">
						<img class="img-fluid img-thumbnail" style="width:200px !important; height: 200px !important;" src='/uploads/excel.jpg' alt="">
					</a>
					<div class="input-group text-center">
						<a target="_blank" href="/details<%= file %>" class="btn btn-info mx-auto" id="<%= index %>">Details</a>
					</div>					
				</div>
            <% }) %>
            
			
  </div>

</div>

<!-- /.container -->

    <!-- jQuery -->
    <!-- jQuery UI 1.11.4 -->
	<script src="plugins/jquery/jquery.min.js"></script>
	<script>
		
		let btns = $(".btn-info");
		
		btns.on('click', function() {
			let id  = this.id;
			let field = $("#field_" + id);
			let hidden_field = $("#hidden_" + id);
			
			let extension = hidden_field.val().split(".")[1];
			let new_extension = field.val().split(".")[1];
			
			if(extension.toLowerCase() != new_extension.toLowerCase()) {
				return window.alert("Extension must not be changed");
			}
			
			else {
				$.ajax({
					method: "POST",
					url: "https://tranquil-plains-27029.herokuapp.com/photos/rename",
					data: {old_name: hidden_field.val(), new_name: field.val()},
					success: function(response) {
						window.alert(response);
						window.location.href = "https://tranquil-plains-27029.herokuapp.com/photos";
					}
				});
			}
		});
	</script>
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
</body>

</html>